.input {
    visibility: hidden;
    opacity:0;
    width:0;
    height: 0;
}

html {
    font-size: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.main-heading {
    font-size: 4rem;
    margin-bottom: 20px;

}

.label-container {
    display: flex;
    justify-content: space-between;

    border-top:rgba(255, 255, 255, 0.2) 2px solid;
}

.line1 {
    transform: rotate(45deg) translateY(4px) translateX(5px);
    width:15px;
    height: 15px;
    border-bottom:  rgba(255, 255, 255, 0.74) 2px solid;
}

.line2 {
    transform: rotate(135deg);
    width:15px;
    height: 15px;
    border-bottom:  rgba(255, 255, 255, 0.74) 2px solid;
}

body {
    background-color: blueviolet;
}

.body-wrapper {
    max-width: 70vw;
max-height: 100vh;
margin: 0 auto;
}

.vertical {
    display: flex;
    flex-direction: column;
}

* {
    color: rgba(255, 255, 255, 0.74);
}

.meme-container1 {
    cursor: pointer;

    margin: 0px auto 10px;

    background-image: url('./assets/images/1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 202px;
}

.meme-container2 {
    margin: 0px auto 10px;
    cursor: pointer;

    background-image: url('./assets/images/2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width:242px;
    height: 175px;
}


.meme-container3 {
    margin: 0px auto 10px;
    cursor: pointer;

    background-image: url('./assets/images/3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width:270px;
    height: 500px;
}

.meme-container4 {
    margin: 0px auto 10px;

    cursor: pointer;

    background-image: url('./assets/images/4.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width:241px;
    height: 500px;
}

.container{
    visibility: hidden;
    overflow: hidden;
    height: 0px;
    width:70vw;

    transition: all 1s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input:hover + .container {
    visibility: visible;
    height: 180px;
 } 

.meme-container1:active {
    opacity: 0.7;
}

.meme-container2:active {
    opacity: 0.7;
}

.meme-container3:active {
    opacity: 0.7;
}

.meme-container4:active {
    opacity: 0.7;
}


.input:checked + .container {
   visibility: visible;
   width: 70vw;
   height: 180px;
}

.heading-container {
    font-size: 3rem;
line-height: 4rem;
display: flex;
cursor: pointer;
}







